{% load static %}

<footer>
		<div class="container">
			<div class="row footer-item-cover">
				<div class="footer-subscribe col-md-7 col-lg-8">
					<h6>subscribe</h6>
					<p>Subscribe, and you won't miss the new arrivals, as well as discounts and sales.</p>
					<form class="subscribe-form">
						<i class="fa fa-at" aria-hidden="true"></i>
						<input class="inp-form" type="email" name="subscribe" placeholder="E-mail">
						<button type="submit" class="btn btn-form"><span>send</span></button>
					</form>
				</div>
				<div class="footer-item col-md-5 col-lg-4">
					<h6>info</h6>
					<ul class="footer-list">
						<li><a href="{% url 'contacts' %}">FAQ</a></li>
						<li><a href="{% url 'contacts' %}">Contacts</a></li>
						<li><a href="{% url 'contacts' %}">Exchanges</a></li>
						<li><a href="{% url 'contacts' %}">Returns</a></li>
					</ul>
				</div>
			</div>
			<div class="row footer-item-cover">
				<div class="footer-touch col-md-7 col-lg-8">
					<h6>stay in touch</h6>
					<ul class="footer-soc social-list">
						<li><a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
					</ul>
					<div class="footer-autor">Questions? Please write us at: <a href="mailto:creto@gmail.com">creto@gmail.com</a></div>
				</div>
				<div class="footer-item col-md-5 col-lg-4">
					<h6>shop</h6>
					<ul class="footer-list">
						<li><a href="{% url 'shop-bicycles' %}">Bicycles</a></li>
						<li><a href="{% url 'shop-bicycles' %}">Accessories</a></li>
                        <li><a href="{% url 'shop-bicycles' %}">Spare parts</a></li>
                        <li><a href="{% url 'shop-bicycles' %}">Clothes</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="footer-copyright"><a target="_blank" href="#">Creto</a>© 2023. All Rights Reserved.</div>
				<ul class="footer-pay">
					<li><a href="#"><img src="{% static 'img/footer-pay-1.png' %}" alt="img"></a></li>
					<li><a href="#"><img src="{% static 'img/footer-pay-2.png' %}" alt="img"></a></li>
					<li><a href="#"><img src="{% static 'img/footer-pay-3.png' %}" alt="img"></a></li>
					<li><a href="#"><img src="{% static 'img/footer-pay-4.png' %}" alt="img"></a></li>
				</ul>
			</div>
		</div>
	</footer>