{% extends 'store/base.html' %}
{% load static %}
{% block content %}


<!-- =============== main-slider =============== -->
<section class="s-main-slider">
		<div class="main-slide-navigation"></div>
		<ul class="main-soc-list">
			<li><a href="#">youtube</a></li>
			<li><a href="#">twitter</a></li>
			<li><a href="#">instagram</a></li>
		</ul>
		<div class="main-slider">
			<div class="main-slide">
				{% for bicycle in bicycles|slice:":1" %}
				<div class="main-slide-bg" style="background-image: url(static/img/bg-slider.svg);"></div>
				<div class="container">
					<div class="main-slide-info">
						<h2 class="title">best bikes for you</h2>
						<p>Select from our best choices!</p>
						<a href="{% url 'single-bicycle' bicycle.id %}" class="btn">
							<span>buy now</span>
						</a>
					</div>
					<div class="slide-img-cover">
						<a href="{% url 'single-bicycle' bicycle.id %}" class="lable-bike">
							<div class="lable-bike-img">
                                <img src="{{ bicycle.bicycle_type_image.url }}" alt="img">
                            </div>
							<div class="lable-bike-item">
								<div class="model">{{ bicycle.bicycle_name }}</div>
								<div class="price">${{ bicycle.bicycle_price_new }}</div>
							</div>
						</a>
						<img src="{{ bicycle.bicycle_image.url }}" alt="img" class="slide-img">
                        {% endfor %}
					</div>
				</div>
			</div>
			<div class="main-slide">
				{% for bicycle in bicycles|slice:"1:2" %}
				<div class="main-slide-bg" style="background-image: url(static/img/bg-slider-2.svg);"></div>
				<div class="container">
					<div class="main-slide-info">
						<h2 class="title">best bikes for you</h2>
						<p>Select from our best choices!</p>
						<a href="{% url 'single-bicycle' bicycle.id %}" class="btn"><span>buy now</span></a>
					</div>
					<div class="slide-img-cover">
						<a href="{% url 'single-bicycle' bicycle.id %}" class="lable-bike">
							<div class="lable-bike-img">
                                <img src="{{ bicycle.bicycle_type_image.url }}" alt="img">
                            </div>
							<div class="lable-bike-item">
								<div class="model">{{ bicycle.bicycle_name }}</div>
								<div class="price">${{ bicycle.bicycle_price_new }}</div>
							</div>
						</a>
						<img src="{{ bicycle.bicycle_image.url }}" alt="img" class="slide-img">
                        {% endfor %}
					</div>
				</div>
			</div>
			<div class="main-slide">
				{% for bicycle in bicycles|slice:"2:3" %}
				<div class="main-slide-bg" style="background-image: url(static/img/bg-slider-3.svg);"></div>
				<div class="container">
					<div class="main-slide-info">
						<h2 class="title">best bikes for you</h2>
						<p>Select from our best choices!</p>
						<a href="{% url 'single-bicycle' bicycle.id %}" class="btn"><span>buy now</span></a>
					</div>
					<div class="slide-img-cover">
						<a href="{% url 'single-bicycle' bicycle.id %}" class="lable-bike">
							<div class="lable-bike-img">
                                <img src="{{ bicycle.bicycle_type_image.url }}" alt="img">
                            </div>
							<div class="lable-bike-item">
								<div class="model">{{ bicycle.bicycle_name }}</div>
								<div class="price">${{ bicycle.bicycle_price_new }}</div>
							</div>
						</a>
						<img src="{{ bicycle.bicycle_image.url }}" alt="img" class="slide-img">
                        {% endfor %}
					</div>
				</div>
			</div>
			<div class="main-slide">
				{% for bicycle in bicycles|slice:"3:4" %}
				<div class="main-slide-bg" style="background-image: url(static/img/bg-slider.svg);"></div>
				<div class="container">
					<div class="main-slide-info">
						<h2 class="title">best bikes for you</h2>
						<p>Select from our best choices!</p>
						<a href="{% url 'single-bicycle' bicycle.id %}" class="btn"><span>buy now</span></a>
					</div>
					<div class="slide-img-cover">
						<a href="{% url 'single-bicycle' bicycle.id %}" class="lable-bike">
							<div class="lable-bike-img">
                                <img src="{{ bicycle.bicycle_type_image.url }}" alt="img">
                            </div>
							<div class="lable-bike-item">
								<div class="model">{{ bicycle.bicycle_name }}</div>
								<div class="price">${{ bicycle.bicycle_price_new }}</div>
							</div>
						</a>
						<img src="{{ bicycle.bicycle_image.url }}" alt="img" class="slide-img">
                        {% endfor %}
					</div>
				</div>
			</div>
			<div class="main-slide">
				{% for bicycle in bicycles|slice:"4:5" %}
				<div class="main-slide-bg" style="background-image: url(static/img/bg-slider-2.svg);"></div>
				<div class="container">
					<div class="main-slide-info">
						<h2 class="title">best bikes for you</h2>
						<p>Select from our best choices!</p>
						<a href="{% url 'single-bicycle' bicycle.id %}" class="btn"><span>buy now</span></a>
					</div>
					<div class="slide-img-cover">
						<a href="{% url 'single-bicycle' bicycle.id %}" class="lable-bike">
							<div class="lable-bike-img">
                                <img src="{{ bicycle.bicycle_type_image.url }}" alt="img">
                            </div>
							<div class="lable-bike-item">
								<div class="model">{{ bicycle.bicycle_name }}</div>
								<div class="price">${{ bicycle.bicycle_price_new }}</div>
							</div>
						</a>
						<img src="{{ bicycle.bicycle_image.url }}" alt="img" class="slide-img">
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
</section>
<!-- ============= main-slider end ============= -->


<!--================ S-FIND-BIKE ================-->
<section class="s-find-bike">
		<div class="container">
			<form class="find-bike-form" method="get" action="{% url 'shop-bicycles' %}">
				<h2 class="title">find the bike</h2>
				<ul class="form-wrap">
					<li>
						<label>Type</label>
						<select class="nice-select" name="bicycle_type">
							<option selected="selected">Select bicycle type</option>
							{% for type in bicycle_types %}
								<option>{{ type }}</option>
							{% endfor %}
						</select>
					</li>
					<li>
						<label>Min Price</label>
						<select class="nice-select" name="min_price">
							<option selected="selected">Select bicycle price</option>
							<option value="0">$0</option>
							<option value="999">$999</option>
							<option value="1999">$1999</option>
							<option value="2999">$2999</option>
							<option value="3999">$3999</option>
							<option value="4999">$4999</option>
						</select>
					</li>
					<li>
						<label>Max Price</label>
						<select class="nice-select" name="max_price">
							<option selected="selected">Select bicycle price</option>
							<option value="999">$999</option>
							<option value="1999">$1999</option>
							<option value="2999">$2999</option>
							<option value="3999">$3999</option>
							<option value="9999999">$4999+</option>
						</select>
					</li>
					<li>
						<label>Brand</label>
						<select class="nice-select" name="brand">
							<option selected="selected">Select brand</option>
							{% for brand in bicycle_brands %}
							<option>{{ brand }}</option>
							{% endfor %}
						</select>
					</li>
					<li><button type="submit" class="btn"><span>Search</span></button></li>
				</ul>
			</form>
		</div>
	</section>
<!--============== S-FIND-BIKE END ==============-->


<!--============== S-CATEGORY ==============-->
<section class="s-category-bicycle">
		<div class="container">
			<div class="slider-categ-bicycle">
				<div class="slide-categ-bicycle">
					<div class="categ-bicycle-item">
						<img src="{% static 'img/main-category-e-bikes.jpg' %}" alt="category">
						<div class="categ-bicycle-info">
							<h4 class="title">E-bikes</h4>
							<a href="#" class="btn"><span>view more</span></a>
						</div>
					</div>
				</div>
				<div class="slide-categ-bicycle">
					<div class="categ-bicycle-item">
						<img src="{% static 'img/main-category-spare-parts.jpg' %}" alt="category">
						<div class="categ-bicycle-info">
							<h4 class="title">spare parts</h4>
							<a href="#" class="btn"><span>view more</span></a>
						</div>
					</div>
				</div>
				<div class="slide-categ-bicycle">
					<div class="categ-bicycle-item">
						<img src="{% static 'img/main-category-accessories.jpg' %}" alt="category">
						<div class="categ-bicycle-info">
							<h4 class="title">accessories</h4>
							<a href="#" class="btn"><span>view more</span></a>
						</div>
					</div>
				</div>
				<div class="slide-categ-bicycle">
					<div class="categ-bicycle-item">
						<img src="{% static 'img/main-category-clothing.jpg' %}" alt="category">
						<div class="categ-bicycle-info">
							<h4 class="title">clothing</h4>
							<a href="#" class="btn"><span>view more</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--============ S-CATEGORY-BICYKLE END ============-->


<!--=============== S-OUR-ADVANTAGES ===============-->
<section class="s-our-advantages" style="">
		<span class="mask"></span>
		<div class="container">
			<h2 class="title">Our Advantages</h2>
			<div class="our-advantages-wrap">
				<div class="our-advantages-item">
					<img class="lazy"
						 src="{% static 'img/placeholder-all.png' %}"
						 data-src="{% static 'img/advantages-1.svg' %}" alt="icon">
					<h5>Free shipping <br>from $500</h5>
				</div>
				<div class="our-advantages-item">
					<img class="lazy"
						 src="{% static 'img/placeholder-all.png' %}"
						 data-src="{% static 'img/advantages-2.svg' %}" alt="icon">
					<h5>Warranty service <br>for 3 months</h5>
				</div>
				<div class="our-advantages-item">
					<img class="lazy"
						 src="{% static 'img/placeholder-all.png' %}"
						 data-src="{% static 'img/advantages-3.svg' %}" alt="icon">
					<h5>Exchange and return <br>within 14 days</h5>
				</div>
				<div class="our-advantages-item">
					<img class="lazy"
						 src="{% static 'img/placeholder-all.png' %}"
						 data-src="{% static 'img/advantages-4.svg' %}" alt="icon">
					<h5>Discounts for <br>customers</h5>
				</div>
			</div>
		</div>
	</section>
<!--============= S-OUR-ADVANTAGES END =============-->


{% endblock %}



