{% load static %}

<!-- ================= HEADER ================= -->
<header class="header">
    <a href="#" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="top-panel">
        <div class="container">
            <div class="top-panel-cover">
                <ul class="header-cont">
                    <li>
                        <a href="tel:+912345687"><i class="fa fa-phone"></i>+9123 456 87</a>
                    </li>
                    <li>
                        <a href="mailto:creto@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>creto@gmail.com</a>
                    </li>
                </ul>
                <ul class="icon-right-list">
                    <li>
                        <a class="header-like" href="{% url 'wishlist-detail' %}"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        {% if request.user.is_authenticated %}
                        <a class="header-user" href="{% url 'account' %}"><i class="fa fa-user" aria-hidden="true"></i></a>
                        {% else %}
                        <a class="header-user" href="{% url 'login' %}"><i class="fa fa-user" aria-hidden="true"></i></a>
                        {% endif %}
                    </li>
                    <li>
                        <a class="header-cart" href="{% url 'cart-detail' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <a href="{% url 'main-page' %}" class="logo"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
            <nav class="nav-menu">
                <ul class="nav-list">
                    <li class="dropdown">
                        <a href="{% url 'shop-bicycles' %}">Shop <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul>
                            <li><a href="{% url 'shop-bicycles' %}">Bicycles</a></li>
                            <li><a href="{% url 'shop-bicycles' %}">Accessories</a></li>
                            <li><a href="{% url 'shop-bicycles' %}">Spare parts</a></li>
                            <li><a href="{% url 'shop-bicycles' %}">Clothes</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'contacts' %}">Contacts</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#">{{ user.username }}<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul>
                                <li><a href="{% url 'account' %}">Account</a></li>
                                <li><a href="{% url 'logout' %}">Log out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#">Account<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul>
                                <li><a href="{% url 'login' %}">Login</a></li>
                                <li><a href="{% url 'register' %}">Register</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- =============== HEADER END =============== -->