{% load static %}

<!-- ================= HEADER ================= -->
<header class="header">
    <a href="#" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="top-panel">
        <div class="container">
            <div class="top-panel-cover">
                <ul class="header-cont">
                    <li>
                        <a href="tel:+912345687"><i class="fa fa-phone"></i>+9123 456 87</a>
                    </li>
                    <li>
                        <a href="mailto:creto@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>creto@gmail.com</a>
                    </li>
                </ul>
                <ul class="icon-right-list">
                    <li>
                        <a class="header-like" href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>6</span></a>
                    </li>
                    <li>
                        <a class="header-user" href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a class="header-cart" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <a href="{% url 'main-page' %}" class="logo"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
            <nav class="nav-menu">
                <ul class="nav-list">
                    <li class="dropdown">
                        <a href="{% url 'shop-all' %}">Shop <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul>
                            <li><a href="{% url 'shop-bicycles' %}">Bicycles</a></li>
                            <li><a href="{% url 'shop-accessories' %}">Accessories</a></li>
                            <li><a href="{% url 'shop-spare-parts' %}">Spare parts</a></li>
                            <li><a href="{% url 'shop-clothes' %}">Clothes</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'news' %}">News</a></li>
                    <li><a href="{% url 'contacts' %}">Contacts</a></li>
                    <li class="dropdown">
                        <a href="#">Pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="404.html">Page error 404</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- =============== HEADER END =============== -->