{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<!-- ================ HEADER-TITLE ================ -->
<section class="s-header-title">
    <div class="container">
        <h1>Shop</h1>
        <ul class="breadcrambs">
            <li><a href="{% url 'main-page' %}">HOME</a></li>
        </ul>
    </div>
</section>
<!-- ============== HEADER-TITLE END ============== -->

<!--===================== SHOP =====================-->
<section class="s-shop">
    <div class="container">
        <div class="shop-sidebar-btn btn"><span>filter</span></div>
        <div class="row">
            <div class="col-12 col-lg-3 shop-sidebar">
                <ul class="widgets wigets-shop">
                    <li class="widget wiget-shop-category">
                        <h5 class="title">Categories</h5>
                         <ul>
                            <li><a href="{% url 'shop-bicycles' %}">Bicycles</a></li>
                            <li><a href="{% url 'shop-accessories' %}">Accessories</a></li>
                            <li><a href="{% url 'shop-spare-parts' %}">Spare parts</a></li>
                            <li><a href="{% url 'shop-clothes' %}">Clothes</a></li>
                        </ul>
                    </li>
                    <li class="widget wiget-shop-category">
                        <h5 class="title">bikes</h5>
                        <ul>
                            <li><p><input type="checkbox" checked><span>Road Bike</span>
                            </p></li>
                            <li><p><input type="checkbox"><span>Mountain Bike</span>
                            </p></li>
                            <li><p><input type="checkbox"><span>BMX Bike</span>
                            </p></li>
                            <li><p><input type="checkbox"><span>City Bike</span>
                            </p></li>
                            <li><p><input type="checkbox"><span>Kids Bike</span>
                            </p></li>
                        </ul>
                    </li>
                    <li class="widget wiget-price">
                        <h5 class="title">price($)</h5>
                        <div id="slider-range"></div>
                        <div class="amount-cover">
                            <input type="text" id="amount-min">
                            <span>&mdash;</span>
                            <input type="text" id="amount-max">
                        </div>
                    </li>
                    <li class="widget wiget-gender">
                        <h5 class="title">gender</h5>
                        <ul>
                            <li><p><input
                                    type="checkbox"><span>Men’s</span>
                            </p></li>
                            <li><p><input type="checkbox"><span>Women’s</span>
                            </p></li>
                            <li><p><input
                                    type="checkbox"><span>Kids</span>
                            </p></li>
                        </ul>
                    </li>
                    <li class="widget wiget-brand">
                        <h5 class="title">brand</h5>
                        <ul>
                            <li><p><input
                                    type="checkbox"><span>Focus</span>
                            </p></li>
                            <li><p><input
                                    type="checkbox"><span>Radon</span>
                            </p></li>
                            <li><p><input
                                    type="checkbox"><span>Cube</span>
                            </p></li>
                            <li><p><input
                                    type="checkbox"><span>Bikes</span>
                            </p></li>
                            <li><p><input
                                    type="checkbox"><span>Cruzee</span>
                            </p></li>
                        </ul>
                    </li>
                </ul>
                <a href="#" class="reset-filter-btn">Reset Filters</a>
            </div>
            <div class="col-12 col-lg-9 shop-cover">
                <h2 class="title">Clothes</h2>
                <div class="shop-sort-cover">
                    <div class="sort-left">{{ clothes|length }} items
                        found</div>
                    <div class="sort-right">
                        <div class="sort-by">
                            <span class="sort-name">sort by:</span>
                            <select class="nice-select">
                                <option selected="selected" disabled>
                                    best selling
                                </option>
                                <option>new product</option>
                                <option>sale product</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="shop-product-cover">
                    <div class="row product-cover block">
                        {% for cloth in clothes %}
                        <div class="col-12 col-sm-4 prod-item-col">
                            <div class="product-item">
                                <ul class="product-icon-top">
                                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                                </ul>
                                <a href="#" class="product-img"><img src="{{ cloth.clothes_image.url }}" alt="product"></a>
                                <div class="product-item-wrap">
                                    <div class="product-item-cover">
                                        <div class="price-cover">
                                            <div class="new-price">${{ cloth.clothes_price }}</div>
                                        </div>
                                        <h6 class="prod-title">
                                            <a href="single-shop.html">
                                                {{ cloth.clothes_name }}
                                                <br> {{ cloth.clothes_type }} bike
                                            </a>
                                        </h6>
                                        <a href="single-shop.html"
                                           class="btn"><span>buy now</span></a>
                                    </div>
                                    <div class="prod-info">
                                        <ul class="prod-list">
                                            <li>Brand:
                                                <span>{{ cloth.clothes_brand }}</span>
                                            </li>
                                            <li>Type:
                                                <span>{{ cloth.clothes_type }}</span>
                                            </li>
                                            <li>Sex:
                                                <span>{{ cloth.clothes_sex }}</span>
                                            </li>
                                            <li>Size:
                                                <span>{{ cloth.clothes_size }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="pagination-cover">
                        <ul class="pagination">
                            <li class="pagination-item item-prev"><a
                                    href="#"><i
                                    class="fa fa-angle-left"
                                    aria-hidden="true"></i></a></li>
                            <li class="pagination-item active"><a
                                    href="#">1</a></li>
                            <li class="pagination-item"><a
                                    href="#">2</a></li>
                            <li class="pagination-item"><a
                                    href="#">3</a></li>
                            <li class="pagination-item"><a
                                    href="#">4</a></li>
                            <li class="pagination-item"><a
                                    href="#">5</a></li>
                            <li class="pagination-item item-next"><a
                                    href="#"><i
                                    class="fa fa-angle-right"
                                    aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================== SHOP END ===================-->

{% endblock %}