{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<!-- ================ HEADER-TITLE ================ -->
	<section class="s-header-title">
		<div class="container">
			<h1>Shop</h1>
			<ul class="breadcrambs">
				<li><a href="{% url 'main-page' %}">Home</a></li>
			</ul>
		</div>
	</section>
<!-- ============== HEADER-TITLE END ============== -->

	<!-- ============== S-SINGLE-PRODUCT ============== -->
	<section class="s-single-product">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-5">
					<!--===== SLIDER-SINGLE-FOR =====-->
					<div class="slider-single-for">
						<div class="slide-single-for">
							<a class="single-for-img" >
								<img src="{{ bicycle.bicycle_image1.url }}" alt="img">
							</a>
						</div>
						<div class="slide-single-for">
							<a href="#" class="single-for-img" data-fancybox="prod1">
								<img src="{{ bicycle.bicycle_image2.url }}" alt="img">
							</a>
						</div>
						<div class="slide-single-for">
							<a href="#" class="single-for-img" data-fancybox="prod1">
								<img src="{{ bicycle.bicycle_image3.url }}" alt="img">
							</a>
						</div>
						<div class="slide-single-for">
							<a href="#" class="single-for-img" data-fancybox="prod1">
								<img src="{{ bicycle.bicycle_image4.url }}" alt="img">
							</a>
						</div>
					</div>
					<!--=== SLIDER-SINGLE-FOR END ===-->
					<!--===== SLIDER-SINGLE-NAV =====-->
					<div class="slider-single-nav">
						<div class="slide-single-nav">
							<div class="single-nav-img">
								<img src="{{ bicycle.bicycle_image1.url }}" alt="img">
							</div>
						</div>
						<div class="slide-single-nav">
							<div class="single-nav-img">
								<img src="{{ bicycle.bicycle_image2.url }}" alt="img">
							</div>
						</div>
						<div class="slide-single-nav">
							<div class="single-nav-img">
								<img src="{{ bicycle.bicycle_image3.url }}" alt="img">
							</div>
						</div>
						<div class="slide-single-nav">
							<div class="single-nav-img">
								<img src="{{ bicycle.bicycle_image4.url }}" alt="img">
							</div>
						</div>
					</div>
					<!--=== SLIDER-SINGLE-NAV END ===-->
				</div>
				<div class="col-12 col-md-7 single-shop-left">
					<h2 class="title">{{ bicycle.bicycle_brand }}</h2>
					<h2 class="title">{{ bicycle.bicycle_name }}</h2>
					<div class="single-price">
						{% if bicycle.bicycle_price_new == bicycle.bicycle_price_old %}
						<div class="new-price">${{ bicycle.bicycle_price_new }}</div>
						{% else %}
						<div class="new-price">${{ bicycle.bicycle_price_new }}</div>
						<div class="old-price">${{ bicycle.bicycle_price_old }}</div>
						{% endif %}
					</div>
					<div class="single-color">
						<h4 class="single-bicycle-label">class :</h4>
						<span class="name-color">{{ bicycle.bicycle_class }}</span>
					</div>
					<div class="single-color">
						<h4 class="single-bicycle-label">type:</h4>
						<span class="name-color">{{ bicycle.bicycle_type }}</span>
					</div>
					<div>
						<form action="{% url 'cart-add' bicycle.id %}" method="post">
							<h4 class="single-bicycle-label">quantity:</h4>
							<div>{{ cart_product_form.quantity }}</div>
							<h4 class="single-bicycle-label">frame size:</h4>
							<div>{{ cart_product_form.frame_size }}</div>
							<h4 class="single-bicycle-label">wheel size:</h4>
							<div>{{ cart_product_form.wheel_size }}</div>
							{% csrf_token %}
    						<div class="single-btns">
								<button name="cart" class="btn btn-form" type="submit"><span>Add to cart</span></button>
								<button name="wishlist" class="btn btn-form" type="submit"><span>Add to wishlist</span></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ============ S-SINGLE-PRODUCT END ============ -->

	<!--=============== SINGLE-SHOP-TABS ===============-->
	<section class="single-shop-tabs">
		<div class="container">
			<div class="tab-wrap">
				<ul class="tab-nav product-tabs">
					<li class="item" rel="tab1"><span>Description</span></li>
					<li class="item" rel="tab2"><span>Reviews({{ reviews|length }})</span></li>
				</ul>
				<div class="tabs-content">
					<div class="tab tab1">
						<div class="row">
							<div class="col-lg-6">
								<p>
									{{ bicycle.bicycle_description }}
								</p>
							</div>
						</div>
					</div>
					<div class="tab tab2">
						<ul class="reviews-list">
							{% if reviews|length == 0 %}
							<h2 class="title title-registration"><span>No comments here :(</span></h2>
							<h2 class="title title-registration"><span>Be first to leave a review!</span></h2>
							{% endif %}
							{% for review in reviews %}
								<li class="item">
									<div class="review-item">
										<div class="review-content">
											<div class="name">{{ review.user.username }}</div>
											<div class="date">{{ review.created_at|date:"F d, Y H:i" }}</div>
											<p class="review-comment">{{ review.review_text }}</p>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
						{% if user.is_authenticated %}
						<div class="reviews-form">
							<h3 class="title">Leave a Review</h3>
							<form method="post" action="{% url 'single-bicycle' bicycle.id %}">
								{% csrf_token %}
								<ul class="form-cover">
									<li class="inp-text">
                    				<label for="{{ review_form.review_text.id_for_label }}">Your Review:</label>
                    				{{ review_form.review_text }}
                					</li>
            					</ul>
						    	<div class="btn-form-cover">
               						 <button id="submit" type="submit" class="btn" style="margin-bottom: 30px;"><span>submit review</span></button>
            					</div>
							</form>
						</div>
						{% else %}
							<div class="auth-registration">
            				<h2 class="title title-registration"><span>Log In to leave reviews</span></h2>
            				<a href="{% url 'login' %}" class="btn btn-form btn-log-in" type="submit">
                    			<span>Log In</span>
							</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--============= SINGLE-SHOP-TABS END =============-->

	<!--=================== SCRIPT	===================-->
	<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}